.kart-menu-textbox{
    width: 50%;
    margin-left: 5%;
    margin-right: auto;
}
.kart-nav-bar{
    background-color: #2874f0 !important;
}
.kart-logo-img{
    width:90px;
}
.top-nav-link{
    color: #fff !important;
}
.btn-white{
    background-color: #fff;
    border-color: #fff;
    color:#000 !important;
    margin-top: 0.3em;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem  !important;
}

.nav-append-white{
    background-color: #fff !important;
}

.kart-shadow{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.text-nav-item{
    /* margin-right:0.2rem; */
    font-weight: 500;
}
.dropdown-menu{
left:auto;
}

.top-nav-padding{
    padding-top:80px !important;
}
.each-slide > a > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
.cat-single-product-img{
    min-height:150px;
    display:flex;
}
.img-fluid{
    margin: auto;
}
.pointer{
    cursor: pointer;
}
